{% extends 'baseBackend.html.twig' %}

{% block body %}
    <h1>Competence</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ competence.id }}</td>
            </tr>
            <tr>
                <th>Nomcompetence</th>
                <td>{{ competence.nomCompetence }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('mes_competences') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('competence_edit', { 'id': competence.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
